{# % form_theme form theme % #}

<form action="{{ path('vespolina_product_create') }}" {{ form_enctype(form) }} method="POST" class="vespolina_product_product">
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_label(form.identifier) }}
    {{ form_widget(form.identifier) }}
    {{ form_errors(form.identifier) }}
    {{ form_rest(form) }}

    <a href="#" class="jslink">
                Add a tag
    </a>
    <div>
        <input type="submit" value="{{ 'product.submit'|trans({}, 'VespolinaProductBundle') }}" />
    </div>
</form>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script>
    function add() {
        var collectionHolder = $('#vespolina_product_form_features');
        var prototype = collectionHolder.attr('data-prototype');
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
    }

    $('a.jslink').live('click', function(event){
        event.preventDefault();
        add();
    });
</script>
